body {
	background-image: linear-gradient(rgb(175,150,115,0.7), rgb(101,79,47,0.9));
	font-family: "Courier New", Courier, monospace
}

.logoContainer {
	display: flex;
	justify-content: center;
}

.button {
	border-width: 1px;
	border: solid;
	border-color: gray;
	/*padding: 10px 10px;
	margin: 25px 25px;
	border-radius: 15px;
	padding: 25px 25px;
	width: 80vw;*/
	display: flex;
	border-radius: 8px;
	display: inline-block;
	background-color: lightgray;
	border: none;
	color: rgb(46, 72, 96);
	/*padding: 5px 5px;*/
	text-align: center;
	text-decoration: none;
	font-size: 10px;
	cursor: pointer;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5), 0 6px 20px 0 rgba(0,0,0,0.19);
	transition-duration: 0.4s;
}

.button:hover{
	background-color: white;
}

.button:active {
  background-color: gray;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.topButtons{
	display: flex;
	justify-content: center;
}

.user{
	color: white;
	font-size: 20px;
	font-weight: bold;
	padding-bottom: 15px;
}

.message{
	font-size: 22px;
}

.date{
	font-size: 12px;
	color: lightgray;
	padding-bottom: 8px;
}

.time{
	font-size: 12px;
	color: lightgray;
	float: bottom;
	float: right;
}

.tweet{
	border-width: 1px;
	border: solid;
	border-color: gray;
	padding: 10px 10px;
	margin: 25px 25px;
	border-radius: 15px;
	padding: 25px 25px;
	width: 80vw;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5), 0 6px 30px 0 rgba(0,0,0,0.1);
	background: rgb(46, 72, 96);
	color: #f8c700;
}

.postButton{
	display: flex;
	justify-content: center;
	font-size: 28px;
	font-weight: bold;
	width: 60vw;
	padding: 10px 10px;
	margin: 25px 25px;
	border-radius: 15px;
	padding: 25px 25px;
}

.submitButton{
	font-size: 16px;
	padding: 5px;
}

#username{
	margin-bottom: 10px;
	font-size: 14px;
}

#textarea{
	min-width: 100%;
	min-height: 200px;
	font-size: 18px;
}

.logo{
	max-height: 98%;
	max-width: 98%;
	width: auto;
	height: auto;
	border: none;
	margin: 2%;
	border-radius: 40px;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5), 0 6px 30px 0 rgba(0,0,0,0.1);
}

.tweet-container {
	width: 70vw;
	margin: auto;
	min-height: 100px;
	display: flex;
	flex-wrap: wrap;
}

.userContainer{
	width: 70vw;
	margin: auto;
	min-height: 100px;
	display: flex;
	flex-wrap: wrap;
	padding: -1px;
	z-index: -1;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: lightblue; /* Fallback color */
  background-color: rgba(15,20,155,0.4); /* Black w/ opacity */
  overflow-y: auto;
}

/* Modal Content */
.modal-content {
	background-color: #fefefe;
	margin: auto;
	padding: 20px;
	border: 1px solid #888;
	width: 60vw;
	height: 70vh;
	overflow-y: auto
}

.modalTweet{
	border-width: 1px;
	border: solid;
	border-color: ;
	padding: 10px 10px;
	margin: 25px 25px;
	border-radius: 15px;
	padding: 25px 25px;
	width: 50vw;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5), 0 6px 30px 0 rgba(0,0,0,0.1);
	background: white;
}
/* The Close Button */
.close {
	color: black;
	float: right;
	font-size: 36px;
	font-weight: bold;
	position: fixed;
	top: 5%;
	right: 5%;
}

.close:hover,
.close:focus {
  color: red;
  text-decoration: none;
  cursor: pointer;
}

.user {
	cursor: pointer;
}

